.theme-light {
  --bg-fill: #ffffff;
  --text-color: #22343D;
  --text-color-hover: #173A56;
  --btn-bg: #00000000;
  --block-round: #EDEDED;
}

.theme-dark {
  --bg-fill: #1F2E35;
  --text-color: #ffffff;
  --text-color-hover: #ffffff;
  --btn-bg: #00000000;
  --block-round: #22343D;
}

/* -------- Common Styles -------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --bg-white: #ffffff;
  --bg-green: #02897A;
}

*,
:before,
:after {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box
}

body {
  font-family: 'Poppins', 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--bg-fill);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color);
}


/* -- Used styles in content -- */
h2.title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 48px;
}

h3.subtitle,
p.description {
  line-height: 26px;
}

h3.subtitle {
  margin-bottom: 12px;
}

p.description {
  margin-bottom: 30px;;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

input {
  outline: 0;
}

button {
  cursor: pointer;
  transition: .1s linear;
}

button:hover {
  transition: .1s linear;
}

/* ---- Checkbox для переключения темной темы ---- */
.toggler {
  display: flex;
  align-items: center;
}

.toggler label {
  display: flex;
  cursor: pointer;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.dark-img {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/dark-theme.svg);
  border-radius: 50%;
  transition: .1s linear;
}

.dark-img:hover {
  box-shadow: 0px 0px 5px var(--bg-green);
  border-radius: 50%;
  transition: .1s linear;
}


/* -------- Container ------------ */

[class*="__container"] {
  display: flex;
  align-items: center;
  max-width: 1060px;
  margin: 0px auto;
  padding: 0px;
}

/* --------- PC ------------- */
@media (max-width: 1199.5px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* --------- TABLET ------------- */
@media (max-width: 991.5px) {
  [class*="__container"] {
    max-width: 780px;
    padding: 0px 20px;
  }
}

@media (max-width: 767.5px) {
  [class*="__container"] {
    max-width: 650px;
    padding: 0px 15px;
  }
}

/* ----------- Header ----------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-fill);
  transition: .1s linear;
  z-index: 100;
}

.header__container {
  min-height: 80px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  color: var(--text-color-hover);
}

.logo::before {
  content: url(../img/logo.svg);
  width: 40px;
  height: 36.36px;
}

/* Navigation */
.menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
  gap: 30px;
  margin-right: 24px;
}

.list__item a {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  color: var(--text-color);
  transition: .1s linear;
}

.list__item a:hover {
  color: var(--bg-green);
  transition: .1s linear;
}

/* Buttons */
.header__buttons {
  display: flex;
  gap: 24px;
  margin-right: 30px;
}

.button {
  background-color: var(--btn-bg);
  color: var(--text-color);
  border-radius: 4px;
}

.button.button--base {
  width: 105px;
  height: 43px;
  font-weight: 600;
  border: 1px solid #BCD0E5;
}

.button.button--base:hover {
  color: var(--bg-white);
  background-color: var(--bg-green);
  border: 1px solid var(--bg-green)
}

/* ---- Header adaptive ---- */
@media (max-width: 991.5px) {
  .header {
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
  }

  .menu__list {
    gap: 80px;
    opacity: 0;
  }

  .menu__list.active {
    display: flex;
    opacity: 1;
  }

  .menu__list a {
    font-size: 18px;
    color: var(--bg-white);
    letter-spacing: 1.5px;
  }

  .header__buttons {
    margin-right: 25px;
  }

  .header__burger {
    display: block;
  }

  /* Burger */
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: var(--text-color-hover);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: .2s linear;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 7px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger span {
    position: absolute;
    background-color: var(--text-color-hover);
    left: 0;
    width: 100%;
    height: 3px;
    top: 8px;
    transition: .2s linear;
  }

  .menu__list {
    position: fixed;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 100%;
    right: 0;
    top: 0px;
    transition: .3s linear;
    z-index: -1;
  }

  .menu__list.active {
    display: flex;
    width: 100%;
    top: 80px;
    margin: 0;
    padding: 80px 0px 0px;
    background-color: var(--bg-green);
    transition: .3s linear;
    z-index: 0;
  }
}

@media (max-width: 575.5px) {
  .logo {
    gap: 10px;
  }

  .header__buttons {
    gap: 15px;
  }
  
  .header__buttons {
    display: none;
  }
}

/* --------------- Work ---------------- */
.work {
  padding: 105px 0px 100px;
}

.work__container {
  justify-content: center;
}

.work__title {
  margin-bottom: 18px;
  font-size: 40px;
  line-height: 60px;
}

.work__subtitle {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}

.work__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button.button--base.button--started {
  width: 175px;
  height: 53px;
  font-weight: 700;
}

.button__play::before {
  content: url(../img/play-button.svg);
}

.button__play {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--bg-green);
  font-weight: 600;
  transition: .1s linear;
}

.button__play:hover {
  text-decoration: underline;
  transition: .1s linear;
}

/* ---- Work adaptive ---- */
@media (max-width: 991.5px) {
  .work__picture {
    margin-bottom: 10px;
  }

  .work__picture img {
    width: 400px;
  }

  .work__title {
    margin-bottom: 16px;
    font-size: 36px;
  }

  .work__subtitle {
    margin-bottom: 25px;
  }

  .button.button--base.button--started {
    width: 142px;
  }
}
@media (max-width: 767.5px) {
  .work__container {
    flex-direction: column-reverse;
  }

  .work__content {
    text-align: center;
  }

  .work__picture {
    margin-bottom: 35px;
  }

  .work__picture img {
    width: 100%;
  }

  .work__buttons {
    justify-content: center;
    gap: 50px;
  }
}

/* ---- Product ---- */
.product {
  background: linear-gradient(0deg, var(--block-round) 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
  border-radius: 50%;
  padding: 0px 0px 90px;
}

.product__container {
  display: block;
}

h2.product__title {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 58px;
}

.product__features {
  display: flex;
  gap: 50px;
  margin-bottom: 60px;
  align-items: center;
}

.features__subtitle {
  margin-bottom: 13px;
  font-size: 22px;
  line-height: 33px;
}

.features__subtitle::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

.features__column--first .features__subtitle::before {
  content: url(../img/feature-1.svg);
}

.features__column--second .features__subtitle::before {
  content: url(../img/feature-2.svg);
}

.features__column--third .features__subtitle::before {
  content: url(../img/feature-3.svg);
}

.features__column--fourth .features__subtitle::before {
  content: url(../img/feature-4.svg);
}

.feaures__description {
  line-height: 28px;
}

.product .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
}

/* -- Product adaptive -- */

@media (max-width: 991.5px) {
  .product {
    background: none;
    border-radius: 0;
  }

  h2.product__title {
    margin-bottom: 50px;
  }

  .product__features {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .features__column {
    width: 240px;
  }

  .features__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .features__subtitle::before {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.5px) {
  .product__features {
    flex-direction: column;
    text-align: center;
    gap: 37px;
  }
}

/* ---- Management ---- */

.management {
  padding: 140px 0px 0px;
}

.management__container {
  gap: 60px;
}

.validation {
  margin-bottom: 8px;
  line-height: 24px;
  font-weight: 600;
}


/* -- Management adaptive -- */
@media (max-width: 991.5px) {
  .management {
    padding: 0px;
  }
  .picture img {
    width: 350px;
  }
}

@media (max-width: 767.5px) {
  .management {
    text-align: center;
  }
  
  .management__container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .picture img {
    width: 100%;
  }
}

/* ---- Support ---- */
.support {
  padding: 150px 0px;
}

.support__container {
  gap: 94px;
}

.support__benefits {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits {
  display: flex;
  align-items: center;
  line-height: 26px;
  gap: 30px;
}

.benefits::before {
  content: '';
  display: inline-flex;
  width: 35px;
  height: 35px;
}

.benefits.benefits--one::before {
  content: url(../img/benefit-1.svg);
}

.benefits.benefits--two::before {
  content: url(../img/benefit-2.svg);
}

.benefits.benefits--three::before {
  content: url(../img/benefit-3.svg);
}


/* -- Supports adaptive -- */
@media (max-width: 991.5px) {
  .support {
    padding: 100px 0px;
  }
  .support__container {
    gap: 50px;
  }
}

@media (max-width: 767.5px) {
  .support__container {
    flex-direction: column;
  }
}

/* ---- Collaborative ---- */ 
.collaborative {
  padding: 0px 0px 150px;
}

.collaborative__container {
  gap: 50px;
}

/* -- Collaborative adaptive -- */
@media (max-width: 991.5px) {
  .collaborative {
    padding: 0px 0px 80px;
  }
}

@media (max-width: 767.5px) {
  .collaborative {
    text-align: center;
  }

  .collaborative__container {
    flex-direction: column-reverse;
  }
}

/* ---- Process ---- */

/* -- Спорный блок, попробовал свое решение касательно специалистов. Можно сделать иначе, либо как в оригинале, но такое решение показалось мне более уместным. -- */

.process {
  background: linear-gradient(179.59deg, var(--block-round) 0.35%, rgba(67, 67, 67, 0.0001) 99.63%);
  border-radius: 50%;
  padding: 50px 0px;
}

.process__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.process__head {
  max-width: 570px;
}

.process__expert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 50px;
}

.expert__review {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.expert__review p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 53px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  background-color: #ffffff;
  color: #2F281E;
  font-weight: 600;
}

.expert__review img {
  height: 100px;
}

.expert__review span.big {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 66%;
  background-color: #ffffff;
  border-radius: 50%;
}

.expert__review.expert__review.expert__review--one span.big {
  left: 39%;
}

.expert__review.expert__review.expert__review--two span.big {
  left: 51%;
}

.expert__review.expert__review.expert__review--three span.big {
  left: 50%;
}

.expert__review.expert__review.expert__review--fourth span.big {
  left: 42%;
}

.expert__review span.mini {
  position: absolute;
  width: 9px;
  height: 9px;
  bottom: 5%;
  background-color: #ffffff;
  border-radius: 50%;
}

.expert__review.expert__review.expert__review--one span.mini {
  left: 36%;
}

.expert__review.expert__review.expert__review--two span.mini {
  left: 56%;
}

.expert__review.expert__review.expert__review--three span.mini {
  left: 55%;
}

.expert__review.expert__review.expert__review--fourth span.mini {
  left: 39%;
}

.process .button.button--base.button--started {
  width: 216px;
}

/* -- Process adaptive -- */

@media (max-width: 1050.5px) {
  .process__container {
    padding: 0px 20px;
  }
}

@media (max-width: 991.5px) {
  .process {
    background: none;
  }

  .process__expert {
    justify-content: center;
  }

  .expert__review {
    gap: 10px;
  }

  .expert__review.expert__review.expert__review--three,
  .expert__review.expert__review.expert__review--fourth {
    flex-direction: row-reverse;
  }

  .expert__review p {
    width: 229px;
    height: 62px;
    padding: 15px;
  }
}

@media (max-width: 567.5px) {
  .expert__review {
    max-width: 300px;
  }
}


/* ---- Strategies ---- */ 
.strategies {
  padding: 100px 0px;
}

.strategies__container {
  flex-direction: column;
  align-items: baseline;
}

.strategies__title {
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
}

.strategies__slider {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

.slider__column:hover .column__name,
.slider__column:focus .column__name {
  color: var(--bg-green);
  transition: .1s linear;
}

.strategies figure {
  display: flex;
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
}

.strategies img {
  transition: .1s linear;
}

.column__info {
  padding: 24px 40px 30px 24px;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  border-radius: 0px 0px 8px 8px;
}

.slider__column:hover img,
.slider__column:focus img {
  transform: scale(1.03);
  transition: .1s linear;
}

.column__date {
  line-height: 28px;
  margin-bottom: 12px;
  color: #22343D;
}

.column__date span {
  font-weight: 700;
}

.column__name {
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
  font-weight: 800;
}

.slider__switch {
  margin: 0 auto;
}

.slider__toggle ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.slider__switch button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EFEFEF;
}

/* -- Strategies adaptive -- */

@media (max-width: 1299.5px) {
  .slider__column {
    max-width: 300px;
  }

  .strategies__container {
    align-items: center;
  }
}

@media (max-width: 991.5px) {
  .strategies__subtitle {
    text-align: center;
  }

  .strategies__slider {
    max-width: 400px;
    flex-direction: column;
    gap: 16px;
  }

  .slider__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .strategies img {
    width: 400px;
  }

  .column__info {
    padding: 24px 0px 40px;
    border: 0;
  }
}

@media (max-width: 767.5px) {
  .strategies__title {
    margin-bottom: 20px;
  }

  .strategies img {
    width: 290px;
  }
}

@media (max-width: 567.5px) {
  .strategies__title {
    text-align: center;
  }
}

/* ---- Price ---- */
.price {
  padding: 50px 0px;
}

.price__container {
  flex-direction: column;
}

.price__title {
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 8px;
}

p.price__subtitle {
  font-weight: 500;
  margin-bottom: 50px;
}

.price__block {
  display: flex;
  gap: 70px;
}

.price__column {
  min-width: 322px;
  min-height: 456px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #ffffff;
  transition: .1s linear;
}

.price__column:hover .column,
.price__column:hover .column__name,
.price__column:hover .column__short,
.price__column:hover .cost__number,
.price__column:hover .cost__rate span {
  color: var(--bg-white);
  transition: .1s linear;
}

.price__column:hover {
  background-color: var(--bg-green);
  transition: .1s linear;
}

.price__column:hover .cost__rate span.per-month {
  color: #E0E0E0;
  transition: .1s linear;
}

.column {
  padding: 24px 0px 32px;
}

.column__name {
  margin-bottom: 8px;
}

.column__short {
  line-height: 40px;
  margin-bottom: 16px;
  color: #22343D;
}

.column__cost {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.cost__number {
  font-size: 76px;
  line-height: 100px;
  letter-spacing: 0.2px;
  color: var(--bg-green);
  font-weight: 700;
}

.cost__rate {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cost__rate span {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--bg-green);
  font-weight: 700;
}

.cost__rate span.per-month {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #AFAFAF;
  font-weight: 400;
}

.cost__feature {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.cost__feature:not(:last-of-type) {
  margin-bottom: 16px;
}

.button.button--base.order {
  width: 139px;
  height: 44px;
  margin-top: 38px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--bg-white);
  background-color: var(--bg-green);
}

.price__column:hover .button.button--base.order {
  background-color: var(--bg-white);
  color: var(--bg-green);
}

/* -- Price adaptive -- */
@media (max-width: 567.5px) {
  .price__column {
    min-width: 280px;
  }
}

@media (max-width: 991.5px) {
  .price__block {
    flex-direction: column;
  }
}

@media (min-width: 991.5px) {
  .price__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1199.5px) {
  .price__block {
    flex-wrap: nowrap;
    justify-content: space-between
  }
}

/* ---- Reviews ---- */
.reviews {
  padding: 100px 0px 75px;
}

.reviews__container {
  flex-direction: column;
}

h2.reviews__title {
  margin-bottom: 8px;
  font-size: 34px;
  line-height: 52px;
  letter-spacing: 0.2px;
  text-align: center;
}

p.reviews__subtitle {
  max-width: 530px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}

p.reviews__subtitle,
blockquote.comment {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.reviews__block {
  display: flex;
  gap: 65px;
}

.reviews__column {
  min-width: 327px;
  min-height: 236px;
  padding: 28px 26px 24px;
  background-color: var(--bg-white);
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.stars {
  width: 110px;
  height: 20px;
  margin-bottom: 16px;
  background: url(../img/stars-rate.svg) no-repeat;
}

blockquote.comment {
  margin-bottom: 17px;
  color: #737373;
}

.user {
  display: flex;
  gap: 14px;
}

.name {
  color: var(--bg-green);
  letter-spacing: 0.2px;
  font-weight: 600;
}

.job-title {
  font-size: 14px;
  color: #252B42;
  letter-spacing: 0.2px;
  font-weight: 500;
}


/* -- Reviews adaptive -- */
@media (max-width: 767.5px) {
  .reviews__column {
    min-width: 280px;
    max-width: 422px;
  }
}

@media (min-width: 767.5px) {
  .reviews__column {
    max-width: 327px;
  }
}

@media (max-width: 991.5px) {
  .reviews__block {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 991.5px) {
  .reviews__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1199.5px) {
  .reviews__block {
    flex-wrap: nowrap;
    justify-content: space-between
  }
}

/* ---- Join ---- */
.join {
  padding: 75px 0px;
}
.join__container {
  max-width: 968px;
  min-height: 360px;
  padding: 0px 50px;
  border-radius: 32px;
  background-color: var(--bg-green);
}

h2.join__title {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  color: var(--bg-white);
}

.button.button--get-this {
  width: 150px;
  height: 50px;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--bg-green);
  background-color: var(--bg-white);
}

.button.button--get-this:hover {
  box-shadow: 0px 0px 20px blanchedalmond;
}

.join__picture img {
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
}

/* -- Join adaptive -- */

@media (max-width: 567.5px) {
  h2.join__title {
    margin: 17px 0px 60px;
  }

  .join__picture img {
    width: 300px;
  }
}

@media (max-width: 991.5px) {
  .join__container {
    flex-direction: column;
    max-width: 90%;
  }

  .join__content {
    text-align: center;
    margin-bottom: 32px;
  }

  h2.join__title {
    margin: 35px 0px 60px;
  }
}

/* ---- Footer ---- */
.footer {
  padding: 75px 0px 50px;
}

.footer__container {
  align-items: flex-start;
  justify-content: space-between;
}

.footer__social .logo {
  margin-bottom: 28px;
}

.footer__social .logo:hover {
  color: var(--bg-white);
}

.social__icons {
  display: flex;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  transition: .1s linear;
}

.icon:hover {
  transition: .1s linear;
}

.icon__instagram {
  background: url(../img/insta.svg) no-repeat;
}

.icon__instagram:hover {
  background: url(../img/insta-hover.svg) no-repeat;
}

.icon__facebook {
  background: url(../img/facebook.svg) no-repeat;
}

.icon__facebook:hover {
  background: url(../img/facebook-hover.svg) no-repeat;
}

.icon__twitter {
  background: url(../img/twitter.svg) no-repeat;
}

.icon__twitter:hover {
  background: url(../img/twitter-hover.svg) no-repeat;
}

.footer a {
  color: var(--text-color);
  transition: .1s linear;
}

.footer a:hover {
  color: var(--bg-green);
  transition: .1s linear;
}

.footer__main a {
  display: flex;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__list a {
  line-height: 35px;
}

.sub {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-color);
}

form {
  max-width: 280px;
}

input {
  width: 325px;
  height: 48px;
  padding: 10px 15px;
  border: 2px solid #BCD0E5;
  border-radius: 4px;
  line-height: 28px;
  color: #22343D;
  transition: .1s linear;
}

input:focus {
  border: 2px solid var(--bg-green);
  box-shadow: 0px 0px 5px var(--bg-green);
  transition: .1s linear;
}

.footer .button.button--base.order {
  border: 0;
}

.footer .button.button--base.order:hover {
  box-shadow: 0px 0px 10px var(--bg-green);
}

.copyright {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 30px;
  color: var(--text-color);
  line-height: 30px;
}

footer .copyright:hover {
  color: var(--text-color);
  text-decoration: underline;
}

/* -- Footer adaptive -- */
@media (max-width: 767.5px) {
  .copyright {
    text-align: center;
    padding: 0px 25px;
  }
}

@media (max-width: 991.5px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social__icons {
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 32px;
  }

  .footer__column {
    margin-bottom: 32px;
  }

  .footer .button {
    margin-bottom: 44px;
  }
}

@media (max-width: 1199.5px) {
  input {
    width: 100%;
  }
}


/* ---- Pricing html ---- */
.price.pricing {
  padding: 130px 0px 150px;
}

.pricing h1 {
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
  margin-bottom: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.pricing .price__title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 16px;
}

.pricing .price__subtitle {
  font-weight: 600;
}